@font-face {
  font-family: 'Glyphter';
  src: url('fonts/Glyphter.eot');
  src: url('fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
    url('fonts/Glyphter.woff') format('woff'), url('fonts/Glyphter.ttf') format('truetype'),
    url('fonts/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
  position: relative;
  min-width: 600px;
  width: 50%;
  margin: 20px auto;
  border: 1px solid #ffffff;
  box-shadow: 0 0 5px 0 #a5a5a5, inset 0 0 5px 0 #a5a5a5;
  border-radius: 20px 50px;
}

h1 {
  margin: 30px;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #a5a5a5, 2px 2px 1px #52424d;
  font-weight: normal;
  font-size: 50px;
  color: teal;
}

.content {
  display: flex;
  margin: 30px;
  padding: 20px;
  box-shadow: 0 0 2px 1px teal;
  border-bottom: 2px solid teal;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
}

.content div {
  padding: 5px;
  margin: 10px;
  /* border: 1px dotted red;*/
  text-align: center;
  vertical-align: middle;
}

.argument {
  display: block;
  min-width: 150px;
  width: 250px;
}

.content .shapes {
  padding: 5px;
  margin: 5px;
  /*border: 1px dotted green;*/
}

.circles div,
.square div {
  padding: 0px;
  display: inline-block;
  width: 0px;
  height: 0px;
  box-shadow: 0 0 0 1px #ffffff, 0 0 3px 0px #222222;
}
.square div {
  border: 7px solid tomato;
}
.circles div {
  border: 7px solid yellowgreen;
  border-radius: 50%;
}
.amount {
  background: url('img/amount.png') no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 20px;
  height: 20px;
  filter: drop-shadow(0px 0px 5px teal);
}

.equally {
  background: url('img/equally.png') no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  width: 20px;
  height: 20px;
  filter: drop-shadow(0px 0px 5px teal);
}

input {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 0px;
  border-bottom: 2px solid teal;
  color: teal;
}
/*input[type='text'] {
  visibility: hidden;
}*/

input[type='text']:focus {
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

input[id='result'] {
  height: 50px;
  width: 50px;
}

input:disabled {
  background: white;
  border-bottom: 2px solid teal;
}

fieldset {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid teal;
  color: teal;
  text-align: left;
}

.btn-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-panel input {
  width: 100px;
}

.hide {
  visibility: hidden;
}

a.button {
  position: relative;
  display: inline-block;
  font-family: 'Glyphter';
  width: 5em;
  height: 5em;
  line-height: 5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px teal;
  color: rgb(102, 250, 250);
  outline: none;
  border: 2px solid rgb(1, 87, 87);
  border-radius: 50%;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em teal;
  background: linear-gradient(rgb(2, 250, 250), rgb(1, 196, 196) 48%, teal 52%, rgb(1, 161, 161));
}
a.button:active {
  top: 0.1em;
  left: 0.1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
}
a.button span {
  padding-left: 5px;
}
